<h3>How to Provide Open Data</h3>

<p>1) Publish your schedule data as a <a href="http://code.google.com/transit/spec/transit_feed_specification.html">GTFS</a> feed. Google publishes <a href="http://maps.google.com/help/maps/transit/partners/participate.html">instructions</a> on how to create GTFS feeds.</p>

<p>2) Provide an official URL where your feed can be downloaded. This can be a URL on your agency site or a URL to a third-party authorized to host your feed. Note: a simple way to provide an official URL is to <a href="/upload">upload your feed</a> to GTFS Data Exchange and use the provided url. </p>

<p>3) Send email to <a href="http://groups.google.com/group/transit-developers">transit-developers@googlegroups.com</a> with the URL of your feed. Note: this is a public mailing list.</p>

<p>4) <a href="/submit-feed">Submit GTFS feed location</a> for inclusion on GTFS Data Exchange. This helps developers find the URL where your data is published.</p>

<hr/>
<p>Is your local transit agency missing from GTFS Data Exchange? Please contact them directly and ask that they make their data available to their riders. A list of agencies and their contacts can be found at <a href="http://www.citygoround.org/agencies/">www.citygoround.org</a></p>