{% extends "base.html" %}

{% block rightsidebar %}
{% end %}


{% block body %}
<h3>Edit ({{escape(agency.name)}})</h3>
<p>Use this page to update agency information</p>

{% if "error" in locals() and error %}
<div class="error">{{escape(error)}}</div>
{% end %}

<fieldset>
	<form action="/a/edit/{{url_escape(agency.slug)}}" method="post">
		<label>URL:<br/>
		<input type="text" size="100" name="url" value="{{escape(agency.url or "")}}"></label><br/>
		<label>Country:<br/>
		<input type="text" size="50" name="country" value="{{escape(agency.country_name or "")}}"></label><br/>
		<label>State:<br/>
		<input type="text" size="50" name="state" value="{{escape(agency.state_name or "")}}"></label><br/>
		<label>Area:<br/>
		<input type="text" size="50" name="area" value="{{escape(agency.area_name or "")}}"></label><br/>
		<label>Feed Location Url:<br/>
		<input type="text" size="100" name="feed" value="{{escape(agency.feed_baseurl or "")}}"></label><br/>
		<label>License Agreement Url:<br/>
		<input type="text" size="100" name="license" value="{{escape(agency.license_url or "")}}"></label><br/>
		<label>Description (markdown):<br/>
		<textarea name="description" style="width:700px;height:100px;">{{escape(agency.description or "")}}</textarea>	
		</label><br/>
        
        Official Data: 
            <label><input type="radio" name="official" value="1" {% if agency.is_official %}checked{% end %}>Available</label>
            <label><input type="radio" name="official" value="0" {% if not agency.is_official %}checked{% end %}>Not Available</label><br/>

		<input type="submit" name="action.save" value="Save">
	</form>
</fieldset>



<h2>URLS to be crawled</h2>
<p>Where possible link to the zip file itself. The crawler will only traverse to subdirectories, it will not go up a directory path if you point it to a html page.</p>
{% for crawl_url in crawl_urls %}

<form action="/a/edit/{{agency.slug}}" method="post">
{% include "include_crawler_edit.html" %}
</form>
<!-- TODO: show status of this crawl. has it been 404'ing? 304? redirect? -->
{% end %}

<form action="/a/edit/{{agency.slug}}" method="post">
{% include "include_crawler_edit_blank.html" %}
</form>

{% end %}
