{% extends "base.html" %}

{% block rightsidebar %}
{% end %}


{% block body %}
<h3>Edit '{{agency.name}}'</h3>
<p>Use this page to update agency information</p>

{% if error %}
<div class="error">{{error}}</div>
{% end %}

<fieldset>
	<form action="/a/edit/{{agency.slug}}" method="post">
		<label>URL:<br/>
		<input type="text" size="100" name="url" value="{{agency.url|default:""}}"></label><br/>
		<label>Country:<br/>
		<input type="text" size="50" name="country" value="{{agency.country_name|default:""}}"></label><br/>
		<label>State:<br/>
		<input type="text" size="50" name="state" value="{{agency.state_name|default:""}}"></label><br/>
		<label>Area:<br/>
		<input type="text" size="50" name="area" value="{{agency.area_name|default:""}}"></label><br/>
		<label>Feed Location Url:<br/>
		<input type="text" size="100" name="feed" value="{{agency.feed_baseurl|default:""}}"></label><br/>
		<label>License Agreement Url:<br/>
		<input type="text" size="100" name="license" value="{{agency.license_url|default:""}}"></label><br/>
		<label>Description (markdown):<br/>
		<textarea name="description" style="width:700px;height:100px;">{{agency.description|default:""}}</textarea>	
		</label><br/>
        
        Official Data: 
            <label><input type="radio" name="official" value="1" {% if agency.is_official %}checked{% end %}>Available</label>
            <label><input type="radio" name="official" value="0" {% if not agency.is_official %}checked{% end %}>Not Available</label><br/>

		<input type="submit" name="action.save" value="Save">
	</form>
</fieldset>

<h2>URLS to be crawled</h2>

{% for u in crawl_urls %}
<form action="/a/edit/{{agency.slug}}" method="post">
	<input type="hidden" name="orig_url" value="{{u.url}}">
	<fieldset>
        <small>last crawled {{timesince(u.lastcrawled)}} ago</small><br/>
		<label>URL:<input type="text" name="url" size="100" value="{{u.url}}"/></label><br/>
		<label>Recurse:<input type="text" name="recurse" size="5"value="{{u.recurse}}"></label><br/>
		<label>download as:<input type="text" name="download_as" size="45"value="{{u.download_as}}"></label><br/>
		<label>show url:<input type="checkbox" name="show_url" value="True" {% if u.show_url %} checked {% end %}></label><br/>
		<label>post text:<input type="text" name="post_text" value="{{u.post_text}}" size="100"></label><br/>
		<input type="submit" name="action.save.url" value="save"><br/>
	</fieldset>
</form>
<!-- TODO: show status of this crawl. has it been 404'ing? 304? redirect? -->
{% end %}

<p>New Crawl URL:</p>
<form action="/a/edit/{{agency.slug}}" method="post">
	<fieldset>
		<label>URL:<input type="text" name="url" size="100" value=""/></label><br/>
		<label>Recurse:<input type="text" name="recurse" size="5"value="1"></label><br/>
		<label>download as:<input type="text" name="download_as" size="45"value="{{agency.slug}}-archiver"></label><br/>
		<label>show url:<input type="checkbox" name="show_url" value="True" checked></label><br/>
		<label>post text:<input type="text" name="post_text" value="" size="100"></label><br/>
		<input type="submit" name="action.save.url" value="save"><br/>
	</fieldset>
</form>

{% end %}
