<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title>{% block title %}GTFS Data Exchange{% end %}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
	<link rel="alternate" type="application/rss+xml" title="Atom" href="{% block feedurl %}/feed{% end %}" />
</head>
<body>

<div id="container">
<div id="dashboard">

</div>

<div id="header">
    <h1><a href="/" ><img src="/static/logo.png" alt="GTFS Data Exchange" width="143" height="61"></a></h1>

<div class="shutdown">
<h2>Notice: GTFS Data Exchange Shutting Down</h2>

<p>I <a href="https://jehiah.cz/a/why-to-share-public-transit-data">started</a> GTFS Data Exchange in 2008 to encourage adoption of the GTFS specification when barely a dozen transit agencies were sharing schedule data. Since then, much has changed as there are over a thousand agencies from almost every country around the world sharing GTFS data.</p>

<p>Recently the Secretary of the US DOT wrote a letter <a href="http://gis.rita.dot.gov/Transit/downloads/DearColleague.pdf">advocating broad GTFS contribution</a> and a national registry of GTFS, coming one step shy of requiring it from all agencies. The World Bank has also heavily <a href="https://github.com/WorldBank-Transport/GTFS-Training-Materials/wiki/Link-repository-for-international-GTFS-training-materials">advocated and assisted international adoption of GTFS</a>. That these sorts of organizations would be have a default expectation of open schedule data was unthinkable in 2008. I'm proud of all the transit community has accomplished, and excited about what's next. Closing gtfs-data-exchange will pave the way for the next chapter of open transit data.</p>

<h3>What's next for the Transit Community? </h3>

<p><a href="https://transit.land/">https://transit.land/</a> has steadily been growing as a reference spot for worldwide GTFS data, and the spot for transit agencies to connect with developers. It is also built to expose schedule data from a single consistent database which makes it even easier for developers to access schedule information. Most importantly though, Transitland has a corporate sponsor <a href="https://mapzen.com/">Mapzen</a>, so developers can rely on it where gtfs-data-exchange has always been a side project, intermittently available and sometimes neglected.</p>

<p><a href="http://transitfeeds.com/">http://transitfeeds.com/</a> also has a comprehensive list of GTFS feeds, and is built on a much more open and transparent community contribution process via Github.</p>

<h3>Timeline for shutting down GTFS Data Exchange:</h3>

<ul>
  <li><strong>April 1, 2016</strong> - Feed registry and manual uploads disabled</li>
  <li><strong>May 1, 2016</strong> - Automatic feed updates disabled</li>
  <li><strong>July 1, 2016</strong> - API access to feeds disabled.</li>
  <li><strong>Sept 1, 2016</strong> - GTFS-Data-Exchange updated w/ a minimal format that provides an index of agencies, and instructions for accessing historical GTFS data for research.</li>
</ul>

<h3>Frequently Asked Questions:</h3>

<p><strong>Q:</strong> Where should I go to list my transit agencies feed?<br/>
<strong>A:</strong> <a href="https://transit.land/feed-registry/">https://transit.land/feed-registry/</a> and <a href="https://github.com/TransitFeeds/TransitFeeds-Public/issues">https://github.com/TransitFeeds/TransitFeeds-Public/issues</a></p>

<p><strong>Q:</strong> What will happen to historical feeds on gtfs-data-exchange?</br>
<strong>A:</strong> Historical feed archives will remain available for research via S3 "accessor pays" policy. The dataset is currently 13k files totally 93G from 2008 onward. Please contact me if you'd like access.</p>

<hr>

<p>A special thanks to the fine folks at <a href="http://trilliumtransit.com/">TrilliumTransit</a>, and <a href="https://www.walkscore.com/">WalkScore</a> for their support and encouragement over the years.</p>

<p>If you have any specific questions about this transitional, reach out to me <a href="https://twitter.com/jehiah">@jehiah</a></p>

</div>

    
</div>
<div id="nav">
    <div id="usernav">
    <a href="/upload" >Upload GTFS File</a> <span class="pipe">|</span>
    {% if current_user_is_admin %}
    <a href="/a/">Admin</a> <span class="pipe">|</span>
    {% end %}
    <a href="{{sign_in_out_url}}" >{{sign_in_out_text}}</a> 
    </div>
    <a href="/agencies">All Agencies</a> <span class="pipe">|</span>
    <a href="/">Recent Updates</a> 
</div>

<div id="body">
{% block featured %}{% end %}
{% block topmenu %}{% end %}
{% block rightsidebar %}
{% end %}
{% block body %}{% end %} 
<div class="clear"></div>

</div>
<div id="footer">
    <h3>API</h3>
    <p>GTFS Data Exchange <a href="/api">API Documentation</a></p>

	<h3>Resources</h3>
	<ul>
		<li><a href="http://code.google.com/transit/spec/transit_feed_specification.html">GTFS Specification</a></li>
		<li><a href="/how-to-provide-open-data">How to Provide Open Data</a></li>
		<li><a href="http://groups.google.com/group/transit-developers">Transit Developers Discussion Group</a></li>
		<li><a href="http://groups.google.com/group/gtfs-changes">GTFS Specification Discussion Group</a></li>
		<li><a href="http://groups.google.com/group/gtfs-changes/web/open-proposals">Proposed GTFS Specification Changes</a></li>
		<li><a href="http://code.google.com/p/googletransitdatafeed/wiki/FeedValidator">GTFS Feed Validator</a></li>
	</ul>

    <h3>About GTFS Data Exchange</h3>

    <p>This site is designed to help developers and transit agencies efficiently share and retrieve GTFS data. GTFS-data-exchange helps eliminate the time between feed publication by a transit agency and when the developer is alerted to it's presence. This is accomplished by per-agency RSS feeds that developers and other GTFS consumers subscribe to.</p>
	
	<p>This Site has been designed by <a href="http://jehiah.cz/">Jehiah Czebotar</a> along with feedback from the GTFS community.<br/>
    For updates about this site, follow <a href="http://twitter.com/gtfs_data">@gtfs_data</a>.</p>

	<p>Data posted on this site is provided AS IS. No guarantee of correctness or suitability for any purpose is implied. </p>
</div>
</div>

{% if production %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-75594-6");
pageTracker._trackPageview();
</script>
{% end %}

{% block footer_javascript %}{% end %}


<script type="text/javascript">
var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<script type="text/javascript">
UserVoice.Tab.show({ 
  key: 'gtfsdataexchange',
  host: 'gtfsdataexchange.uservoice.com', 
  forum: 'general', 
  alignment: 'left', /* 'left', 'right' */
  background_color:'#00A128', 
  text_color: 'white', /* 'white', 'black' */
  hover_color: '#666',
  lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
})
</script>


</body>
</html>