{% extends "base.html" %}

{% block body %}
<h3>{% if msg.hasFile %}Upload{% else %} Comment {% end %} By <a href="/user/{{msg.user}}/">{{msg.user}}</a></h3>

{% if current_user_is_admin %}<p><a href="/meta/{{msg.key()}}/edit"><img src="/static/pencil.png"> Edit</a></p> {% end %}

<div class="message">
<p class="meta">  <small>Posted on {{msg.date.strftime("%b %d %Y %H:%M")}} Z</small>
		<br/>
		{% for a in msg.agencies %}
			<a href="{{a.link}}">{{escape(a.name)}}</a>
		{% end %} 
	</p>
<div class="content">{{markdown(msg.content)}}</div>
{% if msg.hasFile %}
<p><a href="{{msg.filelink(production)}}"><img src="/static/package.png" valign="bottom" hspace="3">{{escape(msg.filename)}}</a> {% if msg.size %}<span class="filesize">{{filesizeformat(msg.size)}}</span>{% end %} <br/>
MD5: {{msg.md5sum}}<br/>
	</p>
{% end %}
</div>

{% if msg.max_lat %}
    <div id="map" style="width:600px; height:400px"></div>
{% end %}

{% end %}

{% block footer_javascript %}
{% if msg.max_lat %}
<script src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("jquery","1.3.2");
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
$(document).ready(function(){
    bounds = {
      maxLat: {{ json_encode(msg.max_lat) }},
      maxLng: {{ json_encode(msg.max_lng) }},
      minLat: {{ json_encode(msg.min_lat) }},
      minLng: {{ json_encode(msg.min_lng) }}
    };

    var centerLat = (bounds.maxLat + bounds.minLat) / 2;
    var centerLng = (bounds.maxLng + bounds.minLng) / 2;

    var latlng = new google.maps.LatLng(centerLat, centerLng);
    var mapOptions = {
      zoom: 10,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    rectangle = new google.maps.Rectangle();
    
    var latlngBounds = new google.maps.LatLngBounds(new google.maps.LatLng(bounds.minLat, bounds.minLng),
            new google.maps.LatLng(bounds.maxLat, bounds.maxLng));
    var rectOptions = {
      strokeColor: "#666666",
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: "transparent",
      fillOpacity: 0.35,
      map: map,
      bounds: latlngBounds
    };
    rectangle.setOptions(rectOptions);
});
</script>
{% end %}

{% end %}