{% extends "base.html" %}

{% block body %}
<h3>New Agencies</h3>
<p> 
    {% for i, agency in enumerate(recent_agencies) %}{% if i > 0 %},{% end %}
    <a href="{{escape(agency.link)}}">{{escape(agency.name)}}</a>  <small>({{timesince(agency.lastupdate)}} ago)</small>{% end %}

    (<strong><a href="/agencies">View All {{agency_count}} Agencies</a></strong>)

</p>


{% if recent_messages %}
<br clear="right"/>
<h3>Recent Data Updates</h3>

<p> <a href="/feed"><img src="/static/feed.png" border="0" align="absbottom"> RSS of All Updates</a></p>

{% for msg in recent_messages %}
<div class="message">
<p class="meta"><a href="/meta/{{msg.key().id()}}" class="permalink" title="permalink">#</a> {% if msg.hasFile %}Upload{% else %} Comment {% end %} By <a href="/user/{{msg.user}}/">{{msg.user}}</a>  <small>{{timesince(msg.date)}}</small>
		<br/>pertains to
		{% for a in msg.agencies %}
			<a href="{{escape(a.link)}}">{{escape(a.name)}}</a>
		{% end %} 
	</p>
<div class="content">{{markdown(msg.content)}}</div>

{% if msg.hasFile %}
<p><a href="{{escape(msg.filelink(production) or '')}}"><img src="/static/package.png" valign="bottom" hspace="3">{{escape(msg.filename or '')}}</a> {% if msg.size %}<span class="filesize">{{filesizeformat(msg.size)}}</span>{% end %} <a href="/meta/{{msg.key().id()}}" title="permalink">more info &raquo;</a> </p>
{% end %}
</div>
{% end %}


{% end %}

{% end %}
