{% extends "base.html" %}
{% block title %}User Profile - {{escape(u.nickname())}}{% end %}


{% block rightsidebar %}
<div id="rightsidebar">
	<p><strong><img src="/static/feed.png"> <a href="/user/{{url_escape(u.nickname())}}/feed">Subscribe to Updates</a></strong><br/>
	Stay informed when {{escape(u.nickname())}} uploads new GTFS feeds, or posts comments. Subscribe to updates today.</p>
</div>

{% end %}
{% block feedurl %}/user/{{escape(u.nickname())}}/feed{% end %}

{% block body %}

<h2>Comments and Uploads by {{escape(u.nickname())}}</h2>

<br clear="right"/>
{% if paginator.pages != 1 %}
<div class="pagination">
    <span class="page-links">
        {% if previous %}
            <a href="?page={{ previous_page_number }}">&laquo; previous</a>
        {% end %}
        <span class="current">
             Page {{ page }} of {{ paginator.pages }}
        </span>
        {% if next %}
            <a href="?page={{ next_page_number }}">next &raquo;</a>
        {% end %}
    </span>
</div>
{% end %}

{% for msg in messages %}

<div class="message">
<p class="meta"><a href="/meta/{{msg.key().id()}}" class="permalink" title="permalink">#</a> {% if msg.hasFile %}Upload{% else %} Comment {% end %} By {{msg.user}}  <small>on {{msg.date.strftime("%b %d %Y %H:%M")}} Z</small>
		<br/>pertains to
		{% for a in msg.agencies %}
			<a href="{{a.link}}">{{a.name}}</a>
		{% end %} 
	</p>
<div class="content">{{markdown(msg.content)}}</div>
{% if msg.hasFile and msg.filename %}
<p><a href="{{msg.filelink(production)}}"><img src="/static/package.png" valign="bottom" hspace="3">{{msg.filename}}</a> {% if msg.size %}<span class="filesize">{{filesizeformat(msg.size)}}</span>{% end %} <a href="/meta/{{msg.key().id()}}" title="permalink">more info &raquo;</a></p>
{% end %}
</div>

{% end %}

{% if paginator.pages != 1 %}
<div class="pagination">
    <span class="page-links">
        {% if previous %}
            <a href="?page={{ previous_page_number }}">&laquo; previous</a>
        {% end %}
        <span class="current">
             Page {{ page }} of {{ paginator.pages }}
        </span>
        {% if next %}
            <a href="?page={{ next_page_number }}">next &raquo;</a>
        {% end %}
    </span>
</div>
{% end %}


{% end %}